# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/
.history/
*.egg-info/

# Conda
.conda/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# YOLO / model weights
*.pt
*.onnx
*.engine

# Outputs
outputs/
runs/

# Data
data/images/*
data/videos/*
!data/images/.gitkeep
!data/videos/.gitkeep

# Logs
*.log