# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/
.history/
*.egg-info/

# Conda
.conda/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# YOLO / model weights
*.pt
*.onnx
*.engine

# Outputs
outputs/
runs/

# Data
data/images/*
data/videos/*
!data/images/.gitkeep
!data/videos/.gitkeep
# 忽略 datasets 文件夹下的所有内容
datasets/**/*

# 但是，允许保留所有子目录结构（解除对目录的忽略）
!datasets/**/

# 并且，允许保留所有名为 .gitkeep 的占位文件
!datasets/**/.gitkeep
# Logs
*.log